<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand mx-3" href="#">
      <img src="{{imgSrc}}" width="40" height="40" alt="" >
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink='/'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Gallery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Login</a>
        </li>
      </ul>
    </div>
</nav>
<body>
<main>
    <section class="gallery">
    
        <div class="category">
            <div class="row">
                <div class="col-6">
                    <div class="album py-5 bg-light">
                        <div class="container">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img src="https://plus.unsplash.com/premium_photo-1677567996070-68fa4181775a?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGNvbGxlZ2V8ZW58MHx8MHx8fDA%3D">
                                        <title>Placeholder</title>
                                        <div class="card-body">
                                        <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                            <br>
                                            <span class="text-danger">— Carol Burnett</span>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img src="https://images.unsplash.com/photo-1707464779415-8e511b9a2843?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGNhbXB1c3xlbnwwfHwwfHx8MA%3D%3D">
                                        <title>Placeholder</title>
                                        <div class="card-body">
                                        <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                            <br>
                                            <span class="text-danger">— Carol Burnett</span>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img src="https://plus.unsplash.com/premium_photo-1691533145641-fa26fa451d19?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDV8fGNvbGxlZ2V8ZW58MHx8MHx8fDA%3D">
                                        <title>Placeholder</title>
                                        <div class="card-body">
                                        <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                            <br>
                                            <span class="text-danger">— Carol Burnett</span>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img src="https://images.unsplash.com/photo-1527891751199-7225231a68dd?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjd8fGNvbGxlZ2V8ZW58MHx8MHx8fDA%3D">
                                        <title>Placeholder</title>
                                        <div class="card-body">
                                        <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                            <br>
                                            <span class="text-danger">— Carol Burnett</span>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img src="https://images.pexels.com/photos/4397200/pexels-photo-4397200.jpeg?auto=compress&cs=tinysrgb&w=600">
                                        <title>Placeholder</title>
                                        <div class="card-body">
                                        <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                            <br>
                                            <span class="text-danger">— Carol Burnett</span>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img src="https://images.unsplash.com/photo-1553941884-f8947df6e0ba?q=80&w=1023&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                                        <title>Placeholder</title>
                                        <div class="card-body">
                                        <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                            <br>
                                            <span class="text-danger">— Carol Burnett</span>
                                        </p>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                <div class="media-section">
                    <iframe width="590px" height="700px" src="https://www.youtube.com/embed/tgbNymZ7vqY" allowfullscreen></iframe>
                </div>
                </div>
            </div>
        </div>
    
        <div class="category">
            <div class="row">
                <div class="col-6">
                    <div class="media-section">
                        <iframe width="590px" height="700px" src="https://www.youtube.com/embed/tgbNymZ7vqY" allowfullscreen></iframe>
                    </div>
                    </div>
                <div class="col-6">
                    <div class="album py-5 bg-light">
                        <div class="container">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img src="https://images.unsplash.com/photo-1687709644148-416e22c3138f?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGNvbGxlZ2UlMjBjYW1wdXN8ZW58MHx8MHx8fDA%3D">
                                        <title>Placeholder</title>
                                        <div class="card-body">
                                        <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                            <br>
                                            <span class="text-danger">— Carol Burnett</span>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img src="https://images.unsplash.com/photo-1687709644302-8eceed73f2dc?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGNvbGxlZ2UlMjBjYW1wdXN8ZW58MHx8MHx8fDA%3D">
                                        <title>Placeholder</title>
                                        <div class="card-body">
                                        <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                            <br>
                                            <span class="text-danger">— Carol Burnett</span>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img src="https://images.unsplash.com/photo-1558525937-6a3c8e3ee4b2?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvbGxlZ2UlMjBjYW1wdXN8ZW58MHx8MHx8fDA%3D">
                                        <title>Placeholder</title>
                                        <div class="card-body">
                                        <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                            <br>
                                            <span class="text-danger">— Carol Burnett</span>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBOH2I9qMxPUCfgSKr0mTVgAyANxH9ZNo4BQbGxxUw607UV8AC5qUVcKI&s=10">
                                        <title>Placeholder</title>
                                        <div class="card-body">
                                        <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                            <br>
                                            <span class="text-danger">— Carol Burnett</span>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBxdoPhuR2WXS0FfSJFxK5Avy4lr7-qMDkp6jVpk6qRb4yoQz3Tw4J_2o&s=10">
                                        <title>Placeholder</title>
                                        <div class="card-body">
                                        <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                            <br>
                                            <span class="text-danger">— Carol Burnett</span>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img src="https://images.unsplash.com/photo-1707464779415-8e511b9a2843?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGNhbXB1c3xlbnwwfHwwfHx8MA%3D%3D">
                                        <title>Placeholder</title>
                                        <div class="card-body">
                                        <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                            <br>
                                            <span class="text-danger">— Carol Burnett</span>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    





    <div class="category">
        <div class="row">
            <div class="col-6">
                <div class="album py-5 bg-light">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://plus.unsplash.com/premium_photo-1677567996070-68fa4181775a?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGNvbGxlZ2V8ZW58MHx8MHx8fDA%3D">
                                    <title>Placeholder</title>
                                    <div class="card-body">
                                    <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                        <br>
                                        <span class="text-danger">— Carol Burnett</span>
                                    </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://images.unsplash.com/photo-1707464779415-8e511b9a2843?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGNhbXB1c3xlbnwwfHwwfHx8MA%3D%3D">
                                    <title>Placeholder</title>
                                    <div class="card-body">
                                    <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                        <br>
                                        <span class="text-danger">— Carol Burnett</span>
                                    </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://plus.unsplash.com/premium_photo-1691533145641-fa26fa451d19?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDV8fGNvbGxlZ2V8ZW58MHx8MHx8fDA%3D">
                                    <title>Placeholder</title>
                                    <div class="card-body">
                                    <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                        <br>
                                        <span class="text-danger">— Carol Burnett</span>
                                    </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://images.unsplash.com/photo-1527891751199-7225231a68dd?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjd8fGNvbGxlZ2V8ZW58MHx8MHx8fDA%3D">
                                    <title>Placeholder</title>
                                    <div class="card-body">
                                    <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                        <br>
                                        <span class="text-danger">— Carol Burnett</span>
                                    </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://images.pexels.com/photos/4397200/pexels-photo-4397200.jpeg?auto=compress&cs=tinysrgb&w=600">
                                    <title>Placeholder</title>
                                    <div class="card-body">
                                    <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                        <br>
                                        <span class="text-danger">— Carol Burnett</span>
                                    </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://images.unsplash.com/photo-1553941884-f8947df6e0ba?q=80&w=1023&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                                    <title>Placeholder</title>
                                    <div class="card-body">
                                    <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                        <br>
                                        <span class="text-danger">— Carol Burnett</span>
                                    </p>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
            <div class="media-section">
                <iframe width="590px" height="700px" src="https://www.youtube.com/embed/tgbNymZ7vqY" allowfullscreen></iframe>
            </div>
            </div>
        </div>
    </div>

    <div class="category">
        <div class="row">
            <div class="col-6">
                <div class="media-section">
                    <iframe width="590px" height="700px" src="https://www.youtube.com/embed/tgbNymZ7vqY" allowfullscreen></iframe>
                </div>
                </div>
            <div class="col-6">
                <div class="album py-5 bg-light">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://images.unsplash.com/photo-1687709644148-416e22c3138f?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGNvbGxlZ2UlMjBjYW1wdXN8ZW58MHx8MHx8fDA%3D">
                                    <title>Placeholder</title>
                                    <div class="card-body">
                                    <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                        <br>
                                        <span class="text-danger">— Carol Burnett</span>
                                    </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://images.unsplash.com/photo-1687709644302-8eceed73f2dc?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGNvbGxlZ2UlMjBjYW1wdXN8ZW58MHx8MHx8fDA%3D">
                                    <title>Placeholder</title>
                                    <div class="card-body">
                                    <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                        <br>
                                        <span class="text-danger">— Carol Burnett</span>
                                    </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://images.unsplash.com/photo-1558525937-6a3c8e3ee4b2?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvbGxlZ2UlMjBjYW1wdXN8ZW58MHx8MHx8fDA%3D">
                                    <title>Placeholder</title>
                                    <div class="card-body">
                                    <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                        <br>
                                        <span class="text-danger">— Carol Burnett</span>
                                    </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBOH2I9qMxPUCfgSKr0mTVgAyANxH9ZNo4BQbGxxUw607UV8AC5qUVcKI&s=10">
                                    <title>Placeholder</title>
                                    <div class="card-body">
                                    <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                        <br>
                                        <span class="text-danger">— Carol Burnett</span>
                                    </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBxdoPhuR2WXS0FfSJFxK5Avy4lr7-qMDkp6jVpk6qRb4yoQz3Tw4J_2o&s=10">
                                    <title>Placeholder</title>
                                    <div class="card-body">
                                    <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                        <br>
                                        <span class="text-danger">— Carol Burnett</span>
                                    </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="https://images.unsplash.com/photo-1707464779415-8e511b9a2843?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGNhbXB1c3xlbnwwfHwwfHx8MA%3D%3D">
                                    <title>Placeholder</title>
                                    <div class="card-body">
                                    <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                        <br>
                                        <span class="text-danger">— Carol Burnett</span>
                                    </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
</body>
<app-footer></app-footer>