<header class="bg-secondary bg-gradient text-white py-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 text-left text-md-center mb-3">
                <img class="rounded-rectangle img-fluid" src="https://i.pinimg.com/originals/da/51/c2/da51c26fe3398b0f8314fee17a98e0e7.jpg" height="500px" width="300px" alt="Profile Photo" />
            </div>
            <div class="col-md-9">
                <h1 style="font-family: work sans;">Jett <span class="text-danger">K</span></h1>
                <h5>Freelance Web Developer</h5>
                <p class="border-top pt-3" style="font-family: quicksand;">Hello World! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem explicabo sed a odit cumque maxime suscipit sunt ab eligendi nam quas ut est officiis tenetur nihil odio voluptatem provident, placeat optio autem atque error culpa corrupti veniam. Perferendis, distinctio harum magni quasi quia amet.
            </div>
        </div>
    </div>
</header>

<header class="bg-secondary bg-gradient text-white py-5">
    <div class="container mt-5">
        <div class="row">
            
            <div class="col-md-9">
                <h1 style="font-family: work sans;">Reyna <span class="text-danger">Stone</span></h1>
                <h5>Freelance Web Developer</h5>
                <p class="border-top pt-3" style="font-family: quicksand;">Hello World! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo perferendis amet necessitatibus. Deleniti error libero nesciunt vel consequatur ad magni quaerat quia dolorum dolores enim ex, dolorem autem corporis repellat! Porro, et fuga!
                to convey stories.</p>
            </div>

            <div class="col-md-3 text-left text-md-center mb-3">
                <img class="rounded-rectangle img-fluid" src="https://th.bing.com/th/id/OIP.6iURLIlryHLVRgW3CGiMUgAAAA?rs=1&pid=ImgDetMain" height="500px" width="300px" alt="Profile Photo" />
            </div>
        </div>
    </div>
</header>


<header class="bg-secondary bg-gradient text-white py-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 text-left text-md-center mb-3">
                <img class="rounded-rectangle img-fluid" src="https://img3.pillowfort.social/posts/9b149594b47a0f46727e.png" height="500px" width="300px" alt="Profile Photo" />
            </div>
            <div class="col-md-9">
                <h1 style="font-family: work sans;">Laura <span class="text-danger">Smith</span></h1>
                <h5>Freelance Web Developer</h5>
                <p class="border-top pt-3" style="font-family: quicksand;">Hello World!  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo perferendis amet necessitatibus. Deleniti error libero nesciunt vel consequatur ad magni quaerat quia dolorum dolores enim ex, dolorem autem corporis repellat! Porro, et fuga!
                to convey stories.</p>
            </div>
        </div>
    </div>
</header>

<header class="bg-secondary bg-gradient text-white py-5">
    <div class="container mt-5">
        <div class="row">
            
            <div class="col-md-9">
                <h1 style="font-family: work sans;">Henry <span class="text-danger">Ken</span></h1>
                <h5>Freelance Web Developer</h5>
                <p class="border-top pt-3" style="font-family: quicksand;">Hello World!  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo perferendis amet necessitatibus. Deleniti error libero nesciunt vel consequatur ad magni quaerat quia dolorum dolores enim ex, dolorem autem corporis repellat! Porro, et fuga!
                to convey stories.</p>
            </div>

            <div class="col-md-3 text-left text-md-center mb-3">
                <img class="rounded-rectangle img-fluid" src="https://th.bing.com/th/id/OIP.ZwNW31xz13ITj0LYaB5ilgHaHa?rs=1&pid=ImgDetMain" height="500px" width="300px" alt="Profile Photo" />
            </div>
        </div>
    </div>
</header>

<header class="bg-secondary bg-gradient text-white py-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 text-left text-md-center mb-3">
                <img class="rounded-rectangle img-fluid" src="https://i.pinimg.com/originals/da/51/c2/da51c26fe3398b0f8314fee17a98e0e7.jpg" height="500px" width="300px" alt="Profile Photo" />
            </div>
            <div class="col-md-9">
                <h1 style="font-family: work sans;">Kayl <span class="text-danger">James</span></h1>
                <h5>Freelance Web Developer</h5>
                <p class="border-top pt-3" style="font-family: quicksand;">Hello World!  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo perferendis amet necessitatibus. Deleniti error libero nesciunt vel consequatur ad magni quaerat quia dolorum dolores enim ex, dolorem autem corporis repellat! Porro, et fuga!
                to convey stories.</p>
            </div>
        </div>
    </div>
</header>

<header class="bg-secondary bg-gradient text-white py-5">
    <div class="container mt-5">
        <div class="row">
            
            <div class="col-md-9">
                <h1 style="font-family: work sans;">Harry <span class="text-danger">James</span></h1>
                <h5>Freelance Web Developer</h5>
                <p class="border-top pt-3" style="font-family: quicksand;">Hello World! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo perferendis amet necessitatibus. Deleniti error libero nesciunt vel consequatur ad magni quaerat quia dolorum dolores enim ex, dolorem autem corporis repellat! Porro, et fuga!
                to convey stories.</p>
            </div>

            <div class="col-md-3 text-left text-md-center mb-3">
                <img class="rounded-rectangle img-fluid" src="https://th.bing.com/th/id/OIP.6iURLIlryHLVRgW3CGiMUgAAAA?rs=1&pid=ImgDetMain" height="500px" width="300px" alt="Profile Photo" />
            </div>
        </div>
    </div>
</header>


<header class="bg-secondary bg-gradient text-white py-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 text-left text-md-center mb-3">
                <img class="rounded-rectangle img-fluid" src="https://img3.pillowfort.social/posts/9b149594b47a0f46727e.png" height="500px" width="300px" alt="Profile Photo" />
            </div>
            <div class="col-md-9">
                <h1 style="font-family: work sans;">Sirius <span class="text-danger">Black</span></h1>
                <h5>Freelance Web Developer</h5>
                <p class="border-top pt-3" style="font-family: quicksand;">Hello World! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo perferendis amet necessitatibus. Deleniti error libero nesciunt vel consequatur ad magni quaerat quia dolorum dolores enim ex, dolorem autem corporis repellat! Porro, et fuga!
                to convey stories.</p>
            </div>
        </div>
    </div>
</header>

<header class="bg-secondary bg-gradient text-white py-5">
    <div class="container mt-5">
        <div class="row">
            
            <div class="col-md-9">
                <h1 style="font-family: work sans;">Arya <span class="text-danger">Lannister</span></h1>
                <h5>Freelance Web Developer</h5>
                <p class="border-top pt-3" style="font-family: quicksand;">Hello World! Lorem ipsum dolor, sit amet consectetur adipisicing elit. A est eligendi modi labore recusandae totam atque itaque, voluptatem sed, iste, libero perferendis quae! Esse repudiandae asperiores debitis mollitia ab eligendi minus perspiciatis, aspernatur pariatur ipsum minima odit maxime amet repellat!
                to convey stories.</p>
            </div>

            <div class="col-md-3 text-left text-md-center mb-3">
                <img class="rounded-rectangle img-fluid" src="https://th.bing.com/th/id/OIP.ZwNW31xz13ITj0LYaB5ilgHaHa?rs=1&pid=ImgDetMain" height="500px" width="300px" alt="Profile Photo" />
            </div>
        </div>
    </div>
</header>

<header class="bg-secondary bg-gradient text-white py-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 text-left text-md-center mb-3">
                <img class="rounded-rectangle img-fluid" src="https://i.pinimg.com/originals/da/51/c2/da51c26fe3398b0f8314fee17a98e0e7.jpg" height="500px" width="300px" alt="Profile Photo" />
            </div>
            <div class="col-md-9">
                <h1 style="font-family: work sans;">Joffrey <span class="text-danger">Smith</span></h1>
                <h5>Freelance Web Developer</h5>
                <p class="border-top pt-3" style="font-family: quicksand;">Hello World! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam totam animi consectetur nulla exercitationem necessitatibus vel iusto. Porro distinctio quisquam tenetur libero perferendis id pariatur doloribus est, omnis molestiae exercitationem tempore ipsa modi? Iste voluptas, obcaecati quod praesentium deleniti quae.
                to convey stories.</p>
            </div>
        </div>
    </div>
</header>

<header class="bg-secondary bg-gradient text-white py-5">
    <div class="container mt-5">
        <div class="row">
            
            <div class="col-md-9">
                <h1 style="font-family: work sans;">Cersei <span class="text-danger">Stark</span></h1>
                <h5>Freelance Web Developer</h5>
                <p class="border-top pt-3" style="font-family: quicksand;">Hello World! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis doloribus voluptate temporibus hic dolores labore voluptates fugiat? Voluptatibus eveniet qui esse, inventore animi nobis nesciunt, culpa sed aspernatur et accusantium, dicta suscipit atque.  
                to convey stories.</p>
            </div>

            <div class="col-md-3 text-left text-md-center mb-3">
                <img class="rounded-rectangle img-fluid" src="https://th.bing.com/th/id/OIP.6iURLIlryHLVRgW3CGiMUgAAAA?rs=1&pid=ImgDetMain" height="500px" width="300px" alt="Profile Photo" />
            </div>
        </div>
    </div>
</header>


<header class="bg-secondary bg-gradient text-white py-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 text-left text-md-center mb-3">
                <img class="rounded-rectangle img-fluid" src="https://img3.pillowfort.social/posts/9b149594b47a0f46727e.png" height="500px" width="300px" alt="Profile Photo" />
            </div>
            <div class="col-md-9">
                <h1 style="font-family: work sans;">Daenerys <span class="text-danger">Storm</span></h1>
                <h5>Freelance Web Developer</h5>
                <p class="border-top pt-3" style="font-family: quicksand;">Hello World! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos adipisci veritatis maxime ex porro veniam iure, beatae impedit, dolores necessitatibus sapiente odio quis id illum! Nihil nobis aperiam repellat dignissimos.
                to convey stories.</p>
            </div>
        </div>
    </div>
</header>

<header class="bg-secondary bg-gradient text-white py-5">
    <div class="container mt-5">
        <div class="row">
            
            <div class="col-md-9">
                <h1 style="font-family: work sans;">John <span class="text-danger">Snow</span></h1>
                <h5>Freelance Web Developer</h5>
                <p class="border-top pt-3" style="font-family: quicksand;">Hello World! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam voluptatum molestiae eveniet labore numquam laudantium incidunt alias quia aut, quae quisquam pariatur quibusdam vitae cupiditate placeat, officiis illo tenetur quos nam a ducimus facilis dolores esse harum. Eos natus quam quod error aliquam iusto at quasi explicabo? Officia, officiis quaerat?</p>
            </div>

            <div class="col-md-3 text-left text-md-center mb-3">
                <img class="rounded-rectangle img-fluid" src="https://th.bing.com/th/id/OIP.ZwNW31xz13ITj0LYaB5ilgHaHa?rs=1&pid=ImgDetMain" height="500px" width="300px" alt="Profile Photo" />
            </div>
        </div>
    </div>
</header>