<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <a class="navbar-brand mx-3" href="#">
        <img src="{{imgSrc}}" width="40" height="40" alt="" >
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" routerLink='/'>Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/gallery">Gallery</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="">Contact Us</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="">Login</a>
            </li>
        </ul>
        </div>
    </nav>
    </div>
<div class="container">
    <body>
        
        <main>
            <section class="track-application">
                <h2>Track Registered Application</h2>
                <form>
                    <div class="form-group">
                        <label for="acknowledgement-number">Acknowledgement Number:</label>
                        <input type="text" id="acknowledgement-number" name="acknowledgement-number" required>
                    </div>
                    <div class="form-group">
                        <label for="mobile-number">Mobile Number:</label>
                        <input type="text" id="mobile-number" name="mobile-number" required>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="submit-btn">Submit</button>
                        <button type="reset" class="reset-btn">Reset</button>
                    </div>
                </form>
            </section>
        </main>
        </body>
</div>
<app-footer></app-footer>
