<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
      <a class="navbar-brand mx-3" href="#">
        <img src="{{imgSrc}}" width="40" height="40" alt="" >
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink='/'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
<div class="container" style="background-color: #f4f4f9;">

    <div class="row">
      <div class="col-7">
        <marquee behavior="" direction="right" class="text-warning">
            <a routerLink="/registrationpage" class="mx-5 text-warning">Click here to register for ME/MTech!</a>
        </marquee>
        <marquee behavior="" direction="left">
          <a routerLink="/registrationpage" class="mx-5">Click here to register! for Medical!</a>
        </marquee>
        <marquee behavior="" direction="right" class=>
          <a routerLink="/registrationpage" class="mx-5 text-warning">Click here to register! for Medical!</a>
        </marquee>
      </div>
      <div class="col-5">
        <marquee behavior="" direction="left" class="text-success">World Class Facility</marquee>
        <marquee behavior="" direction="right" class="text-primary">TOP 5 in India</marquee>
        <marquee behavior="" direction="left" class="text-success">99% Placement Guarantee</marquee>

      </div>
    </div>
    <div class="main-content"><h1>Join Now For A Better Tomorrow!</h1></div>
    <div class="row">
      <div class="col-6">
        <p class="text-center"><a routerLink="/registrationpage">Click here to register!</a></p>
      </div>
      <div class="col-6">
        <p class="text-center"><a routerLink="/track">Track your application!</a></p>
      </div>
    </div>
    <div class="row">
      
        <div class="col-6">
          <div class="album py-5 bg-light">
            <div class="container">
        
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                        
                            <div class="card-body">
                                <p class="card-text">“When you have a dream, you’ve got to grab it and never let go.”
                                    <br>
                                
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="https://images.unsplash.com/photo-1462536943532-57a629f6cc60?q=80&w=1173&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                       
            
                            <div class="card-body">
                                <p class="card-text">“Nothing is impossible. The word itself says ‘I’m possible!'”
                                    <br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="https://images.unsplash.com/photo-1519452575417-564c1401ecc0?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y29sbGVnZXxlbnwwfHwwfHx8MA%3D%3D">
                            
            
                            <div class="card-body">
                                <p class="card-text">“Life has got all those twists and turns. You’ve got to hold on tight and off you go.”
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="https://plus.unsplash.com/premium_photo-1677567996070-68fa4181775a?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGNvbGxlZ2V8ZW58MHx8MHx8fDA%3D">
                           
            
                            <div class="card-body">
                                <p class="card-text">“Keep your face always toward the sunshine, and shadows will fall behind you.”
                                    <br>
                                    </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                          <img src="https://images.unsplash.com/20/cambridge.JPG?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8dW5pdmVyc2l0eXxlbnwwfHwwfHx8MA%3D%3D">
                         
          
                          <div class="card-body">
                              <p class="card-text">“Keep your face always toward the sunshine, and shadows will fall behind you.”
                                  <br>
                               
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://images.unsplash.com/photo-1707464779415-8e511b9a2843?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGNhbXB1c3xlbnwwfHwwfHx8MA%3D%3D">
                        
        
                        <div class="card-body">
                            <p class="card-text">“Keep your face always toward the sunshine, and shadows will fall behind you.”
                                <br>
                          
                            </p>
                        </div>
                    </div>
                </div>
                </div>
            </div></div>
        </div>
        
        <div class="col-6">
          <div class="media-section">
            <h2>Alumni Speak</h2>
            <iframe width="590px" height="505px" src="https://www.youtube.com/embed/tgbNymZ7vqY" allowfullscreen></iframe>
          </div>
        </div>
  
    </div>
  
    <div class="main-content">
      <div class="info-section">
        <div class="info-box">
          <div>
            <p><strong>Counselling Code - 8120</strong></p>
            <p>Engineering Programmes</p>
            <p>B.E / B.Tech 4 Years</p>
            <p>M.E 2 Years</p>
          </div>
          <div class="row mx-2">
            <div class="col-6"><p class=" bg bg-secondary rounded">27 Years in Education</p></div>
            <div class="col-6"><p class=" bg bg-secondary rounded">587 Offers 2023 - 2024</p></div>
            <div class="col-3"><p class=" bg bg-secondary rounded">Over 67 Recruiters</p></div>
            <div class="col-3"><p class=" bg bg-secondary rounded">Phone: 9876543210</p></div>
            <div class="col-3"><p class=" bg bg-secondary rounded">Over 400+ Offers</p></div>
            <div class="col-3"><p class=" bg bg-secondary rounded">Ranked Under Top 5</p></div>
          </div>
        </div>
      </div>
  
   
  </div>
  </div>
  <app-footer></app-footer>